In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('stocks_df.csv')
df.head()

         Date      Stock   Open   High    Low  Close   Volume  Change Pct
0  2013-01-02  20MICRONS  80.35  80.55  77.50  77.80  1088880       -3.23
1  2013-01-03  20MICRONS  78.58  79.78  76.00  76.40   590180       -1.80
2  2013-01-04  20MICRONS  76.50  77.25  75.50  75.83   380850       -0.75
3  2013-01-07  20MICRONS  76.88  78.00  74.00  74.90  1144204       -1.23
4  2013-01-08  20MICRONS  74.97  75.97  74.25  75.28   605020        0.51

In [4]:
columns_to_keep = ["Stock"]
df = df[columns_to_keep]  # Keep only the required column

unique_stocks = df['Stock'].unique()  # Get unique stock names

df_unique = pd.DataFrame(unique_stocks, columns=['Stock'])  # Convert to DataFrame

print(df_unique.head(100))  # Display first 100 rows

         Stock
0    20MICRONS
1   21STCENMGM
2    3IINFOLTD
3      3MINDIA
4       3PLAND
..         ...
95        ANUP
96      ANURAS
97    APARINDS
98        APCL
99  APCOTEXIND

[100 rows x 1 columns]

In [5]:
df_unique.to_csv('name.csv', index=False)

In [6]:
df_unique.shape

(1749, 1)